/extraDecembro/nbproject/private/
/extraDecembro/build/
/SegundoTrimestre/Boletin_19/nbproject/private/
/SegundoTrimestre/Boletin_19/build/
/SegundoTrimestre/Boletin20/nbproject/private/
/SegundoTrimestre/Boletin20/build/
/Exemplos/exemploArrays/nbproject/private/
/Exemplos/exemploArrays/build/
